#specialistContainer{
    position: relative;
    left: 290px;
    top: 300px;
    width: 330px;
    height: 130px;
}
.button{
    width: 330px;
    height: 80px;
    font-size: 23px;
    border-top: 1px solid black;
}
#therapist{
    position: relative;
    bottom: 710px;
}
#dermatologist{
    position: relative;
    bottom: 870px;
}
#general{
    position: relative;
    bottom: 550px;
}
#ent{
    position: relative;
    bottom: 1030px;
}
#choose{
    position: relative;
    bottom: 1190px;
    height: 110px;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 30px;
}